.env.example
.git
.gitignore
.gitattributes
.idea/
bootstrap/cache/*
docker-compose*.yml
makefile
node_modules/
phpunit.xml
public/css/*
public/js/*
storage/framework/*/*
storage/logs/*
storage/oauth-*.key
README.md
server.php
vendor/