.idea/
.git
docker/
infra/
node_modules/
resources/js/
resources/sass/
storage/logs/*
vendor/

.env
.env.example
.gitignore
.deployignore
docker-compose.yml
Dockerfile
makefile
package.json
phpunit.xml
postcss.config
server.php
