#top-head {
  z-index: 9;
  top: 0;
  left:0;
  right:0;
  [class*="uk-navbar-dropdown-bottom"] {
    margin-top: 0;
  }
}
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
  /* navbar height */
  min-height: 52px;
  padding: 0 8px;
  font-size: 0.85rem;
}
.navbar-logo {
  background-color: #222A30;
  margin-left: -12px;
}

/* Search nav */
.search-field {
  width: 200px;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  &:focus {
    width: 350px;
    border-color: #fff !important;
  }
}