#login, #register {
  background-image: url('/img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .uk-heading-primary {
    color: rgba(255, 255, 255, .7);
  }
}