#login, #register {
  background-image: url('/img/bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .uk-form-icon {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
}