#messages {
  position: fixed;
  top: 62px;
  right: 0;
  height: 500px;
  width: 300px;

  .message {
    min-width: 150px;
    margin-bottom: 10px;
    width: auto;
    z-index: 4;
    &.message-success {
      @extend .uk-alert-success;
    }
    &.message-danger {
      @extend .uk-alert-danger;
    }
  }
}

.slide-enter-active {
  transition: all .3s ease;
}
.slide-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to {
  transform: translateX(300px);
}