#header-search .results {
  position: absolute;
  width: 350px;
  top: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px #777;


  .search-result {
    cursor: pointer;
    h5, p {
      color: #666 !important;
    }
    p {
      font-size: .8em;
      text-transform: uppercase;
      margin: 10px 0;
    }
    &:hover {
      background-color: darken(#fff, 5%);
    }
  }
}

/* Left bar */
#left-col {
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222A30;
  width: 240px;
  z-index:2;
  transition: height 0.3s ease-out;

  ul.uk-nav-default {
    &>li {
      &>.uk-nav-sub {
        padding-left: 34px;
      }
      &>a {
        padding: 8px 20px;
        border-left: 2px solid transparent;
        transition: all 0.15s ease-out;
      }
    }
    &>li.uk-open > a,
    &>li>a:hover {
      border-left: 2px solid #39f;
      padding-left: 30px;
      color: white;
      background-color: rgba(0,0,0,0.1);
    }
    li.uk-nav-header {
      padding:  20px 20px 8px 20px;
    }
    i.fa-fw {
      margin-right: 1em;
    }
  }
  i.fa-fw {
    font-size: 1.5em;
  }
}

.left-content-box {
  padding: 0.75rem 20px;
  border-top: 1px solid rgba(255,255,255,0.06);
  margin-bottom: -1px;
}
.left-nav-wrap {
  padding-bottom: 60px;

}

.navigation-placeholder {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  width: 80%;
  margin: 13px auto 26px auto;
  height: 14px;
  display: block;
}

.content-box-dark {
  background-color: rgba(0,0,0,0.09);
}
.text-light {
  font-weight: 200;
  font-size: 1.25rem;
}
.bar-bottom {
  border-top: 1px solid rgba(255,255,255,0.07);
  padding: 15px 0;
  background-color: #222A30;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  bottom: 0;
  width: 240px;
  .navigation-placeholder {
    width: 100%;
    height: 32px;
    margin: 0;
  }
}
.left-logo {
  /* navbar height */
  height: 52px;
  line-height: 52px;
  padding: 0 20px;
}
.custom-logo {
  height: 32px;
}
.panel-icons {
  margin: 0 4px;
}
.uk-tooltip {
  background-color: white;
  color: #242C33;
  box-shadow: 0 2px 12px rgba(50,50,50,0.1);
}

.sort-handle:hover {
  cursor: ns-resize;
}